{
  "plugins": [
    "babel-plugin-styled-components",
    "react-hot-loader/babel",
    "lodash"
  ],
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "react",
    "stage-3",
    "flow"
  ]
}
